.toggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-right: 20px;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--buttons);
  border-radius: 18px;
  width: 65px;
  height: 36px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  box-shadow: var(--shadows);
}

.switch:before,
.switch:after {
  content: "";
}

.switch:before {
  display: block;
  background: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
  z-index: 3;
}

.toggle:hover .switch:before {
  background: rgb(238, 235, 248);
}

.checkbox:checked + .switch {
  background: #b4d63a;
}

.checkbox:checked + .switch:before {
  left: 32px;
}

.checkbox {
  position: absolute;
  visibility: hidden;
}

.light {
  transform: scale(1.1);
  margin-left: 12px;
  color: white;
}

.moon {
  transform: scale(1.1);
  color: white;
  margin-left: 4px;
}
