body {
  margin: 0;
  background: linear-gradient(
    to right,
    rgb(3, 5, 58),
    rgb(3, 1, 29),
    rgb(17, 3, 56)
  );
  overflow-x: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
