@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;500&display=swap');

.container{
  text-align: center;
}

.title {
  color: rgb(240, 239, 245);
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 96px;
  text-shadow: 0 2px 4px rgb(43, 16, 83);
}
