@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  margin: 10%;
}

.title {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  text-shadow: 0 0px 1px rgb(0, 0, 0);
  margin-top: 56px;
}
