@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container{
  text-align: center;
}

.title {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-shadow: 0 0px 1px rgb(0, 0, 0);
  margin-top: 56px;
}
