.loadingBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.logo {
  animation: load 2s infinite ease;
}

@keyframes load {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
