@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.zoombutton {
  background-color: var(--zoombutton);
  border-radius: 50%;
  color: white;
  border: none;
  padding: none;
  font-size: 20px;
  height: 40px;
  width: 40px;
  box-shadow: var(--shadows);
  cursor: pointer;
  transition: all 0.2s ease;
}

.zoombutton:hover {
  background-color: var(--zoombutton-hover);
}

.zoomcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  margin-left: 10px;
}
