@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.legende {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.description {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 10px;
  margin: 0;
}

.labeldiv {
  z-index: 2;
  opacity: 0;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 0;
}
