.toggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-right: 20px;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.switch {
  display: inline-block;
  background: var(--buttons);
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  box-shadow: var(--shadows);
}

.switch:before,
.switch:after {
  content: "";
}

.switch:before {
  display: block;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .switch:before {
  background: rgb(238, 235, 248);
}

.checkbox:checked + .switch {
  background: #b4d63a;
}

.checkbox:checked + .switch:before {
  left: 30px;
}

.checkbox {
  position: absolute;
  visibility: hidden;
}

.emoji {
  font-size: x-large;
}
