.toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.switch {
  display: inline-block;
  background: #534fc6;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.switch:before,
.switch:after {
  content: "";
}

.switch:before {
  display: block;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .switch:before {
  background: rgb(245, 245, 245);
}

.checkbox:checked + .switch {
  background: #89cff0;
}

.checkbox:checked + .switch:before {
  left: 30px;
}

.checkbox {
  position: absolute;
  visibility: hidden;
}
